* { margin: 0; padding: 0; box-sizing: border-box;}

body{
  font-size: 18px;
  color: #333;
}

img {
margin: auto:
}

image {
max-width: 100%;
height: auto;
display: block;

}

p {
  line-height: 1.4em;
}